body{
    background-color: lightgray;
}
div{
	background-color: gray;
}
a:link{
    color: blue;
}
a:visited{
    color: blueviolet;
}
a:hover{
    color: greenyellow;
}
a:active{
    color: crimson;
}