body{
    background-color: lightgray;
}
div{
	background-color: gray;
}
#header{
    align-items: center;
    text-align: center;
}
#section-top{
    width: 100%;
    display: flex;
    justify-content: center;
}
#education, #work-experience{
    width: 50%;
}
a:link{
    color: blue;
}
a:visited{
    color: rgb(64, 192, 89);
}
a:hover{
    color: rgb(252, 252, 252);
}
a:active{
    color: crimson;
}