body{
    background-color: lightgray;
    font-family: 'Lucida Sans';
}
div{
	background-color:cadetblue;
    border: 1px solid black;
}
#header{
    align-items: center;
    text-align: center;
    position: relative;
    height: 200px;
}
#header h1{
    font-size: 50px;
}
#header h3{
    position: relative;
    top: 20px;
    font-style: italic;
}
#descrip{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}
#descrip h2{
    display: flex;
    justify-content: center;
}
#descrip p{
    display: flex;
    justify-content: center;
}
#section-top{
    width: 100%;
    display: flex;
    justify-content: center;
}
#education, #work-experience{
    width: 50%;
    padding-left: 10px;
}
#education{
    border-right: 3px solid;
}
#section-bottom{
    width: 100%;
    display:flex;
    margin-top: 5px;
    margin-bottom: 5px;
}
#skills, #languages, #other-skills{
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#skills, #languages{
    border-right: 3px solid;
}
#contacto h2{
    text-indent: 10px;
}
#contacto p{
    word-spacing: 20px;
    font-size: larger;
}
a:link{
    color: blue;
}
a:visited{
    color: rgb(64, 192, 89);
}
a:hover{
    color: rgb(252, 252, 252);
}
a:active{
    color: crimson;
}